<html lang="en" dir="ltr" xmlns:fb="http://www.facebook.com/2008/fbml" class="linux firefox firefox2 gecko gecko2">
   <head>
      <link type="image/x-icon" href="http://m.dbzstatic.com/assets/images/favicon-hd.ico" rel="shortcut icon">
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
      <meta content="index, follow" name="robots">
      <link href="http://m.dbzstatic.com/assets/images/elements/dubizzle-screenshot.png" rel="image_src">
      <link href="http://dubai.dubizzle.com/" rel="canonical">
      <link href="http://m.dbzstatic.com/assets/images/favicons/dubizzle_114x114.png" sizes="114x114" rel="apple-touch-icon-precomposed">
      <link href="http://m.dbzstatic.com/assets/images/favicons/dubizzle_72x72.png" sizes="72x72" rel="apple-touch-icon-precomposed">
      <link href="http://m.dbzstatic.com/assets/images/favicons/dubizzle_57x57.png" rel="apple-touch-icon">
      <meta content="63733298548" property="fb:page_id">
      <meta content="Dubizzle.com" name="application-name">
      <meta content="name=Dubizzle Home;action-uri=http://dubai.dubizzle.com/;icon-uri=http://m.dbzstatic.com/assets/images/favicon-hd.ico" name="msapplication-task">
      <meta content="name=Place an Ad;action-uri=/place-an-ad/;icon-uri=http://m.dbzstatic.com/assets/images/favicon-hd.ico" name="msapplication-task">
      <meta content="name=Change Country;action-uri=http://dubai.dubizzle.com/change-location/;icon-uri=http://m.dbzstatic.com/assets/images/favicon-hd.ico" name="msapplication-task">
      <meta content="name=Dubizzle on Twitter;action-uri=http://twitter.com/dubizzle;icon-uri=http://twitter.com/favicon.ico" name="msapplication-task">
      <meta content="name=Dubizzle on Facebook;action-uri=http://www.facebook.com/dubizzle;icon-uri=http://m.dbzstatic.com/assets/images/icons/facebook-favicon2.ico" name="msapplication-task">
      <title>dubizzle Dubai Classifieds - Best place to rent a property, sell a car or find a job in Dubai</title>
      <meta content="dubizzle is your leading free classifieds website in Dubai to buy, sell and find anything. Find a properties, cars, jobs, or items for sale in Dubai." name="description">
      <link media="screen,projection" type="text/css" rel="stylesheet" href="http://m.dbzstatic.com/assets/css/en/base_1390203612.css">
      <link media="screen,projection" type="text/css" rel="stylesheet" href="http://m.dbzstatic.com/assets/css/en/legacy_1396269986.css">
      <link media="screen,projection" type="text/css" rel="stylesheet" href="http://m.dbzstatic.com/assets/css/en/main_1395577184.css">
      <link media="all" type="text/css" rel="stylesheet" href="http://m.dbzstatic.com/assets/css/reports_1366722345.css">
      <link media="all" type="text/css" rel="stylesheet" href="http://m.dbzstatic.com/assets/css/print_1337610296.css">
      
      <meta content="3qEzBAn1puFlfGWCahdZ2SLqR9Iny6cFWtoiJT4M3zk=" name="verify-v1">
      <meta content="eSIFGG-fDdvD4b4GrZTx5M6pAY4921I8VmdB1YT7kDY" name="google-site-verification">
      <meta content="2600212D19E76DFEB0797940BDE01D5F" name="msvalidate.01">
      <meta content="a5Hxf713E4e89LlzD6vfMaOBrPo" name="alexaVerifyID">
      <meta content="23b079f18e55a7b4" name="y_key">
      
   </head>
   <body class="country-uae site-dubai index-p logged-out lang-en" style="" id="index-body" data-twttr-rendered="true">
      
      <div style="overflow:hidden" id="fb-root" class=" fb_reset">
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
         </div>
         <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
            <div></div>
         </div>
      </div>
      <div style="overflow:hidden" id="gtrans-root"></div>
      <div id="_em_stage__em" style="display:none"></div>
      <div id="top-leaderboard">
         <div class="zones" id="zone728x90-Homepage-Top">
         </div>
         <!-- 728x90-Homepage-Top ends -->
      </div>
      <div id="page-wrapper">
         <div style="display:none" id="help-slider"></div>
         <div style="display:none" id="signin">
            <div id="signin-content">
               <div id="signin-text" class="group">
                  <h2>Sign In</h2>
                  <a class="close">&nbsp;</a>
                  <p><a href="/accounts/register/">or Register</a></p>
               </div>
               <div id="fbconnect-signin" class="group">
                  <a onclick="fb_connect_redirect(this);return false;" href="/profile/facebook/connect/?referer=1" class="fbbtn-login-sprite"></a>
               </div>
               <img src="http://m.dbzstatic.com/assets/images/fbconnect/slideDown_separator.jpg" class="sep-img">
               <div id="signin-form" class="group">
                  <form action="/accounts/login/" method="post">
                     <div><label for="email">Email Address:</label><input type="email" name="username" id="email"></div>
                     <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                        <a href="/accounts/password/reset/" id="forgot-password">Forgot Password?</a>
                     </div>
                     <input type="hidden" value="/" name="next">
                     <input type="submit" title="Sign In" alt="Sign In" value="Sign In" id="signin-button">
                  </form>
               </div>
            </div>
         </div>
         <div id="container">
            <div id="header">
               <div id="logo">
                  <a href="/">
                  <img alt="dubizzle.com" src="http://m.dbzstatic.com/assets/images/header/dubizzle-logo.png">
                  </a>
               </div>
               <div id="header-links">
                  <!-- <div id="location-switch">
                     <div id="country-dropdown" class="country">
                        <p id="country-dropdown-trigger" class="country"><a onclick="return dbzglobal_event_adapter(this);" href="/change-location/" id="uae"><span id="country-name-dropdown-trigger">UAE</span></a></p>
                        <ul class="country">
                           <li><a href="http://algeria.dubizzle.com?save" id="algeria">Algeria</a></li>
                           <li><a href="http://bahrain.dubizzle.com?save" id="bahrain">Bahrain</a></li>
                           <li><a href="http://egypt.dubizzle.com?save" id="egypt">Egypt</a></li>
                           <li><a href="http://jordan.dubizzle.com?save" id="jordan">Jordan</a></li>
                           <li><a href="http://ksa.dubizzle.com?save" id="ksa">KSA</a></li>
                           <li><a href="http://kuwait.dubizzle.com?save" id="kuwait">Kuwait</a></li>
                           <li><a href="http://lebanon.dubizzle.com?save" id="lebanon">Lebanon</a></li>
                           <li><a href="http://libya.dubizzle.com?save" id="libya">Libya</a></li>
                           <li><a href="http://morocco.dubizzle.com?save" id="morocco">Morocco</a></li>
                           <li><a href="http://oman.dubizzle.com?save" id="oman">Oman</a></li>
                           <li><a href="http://qatar.dubizzle.com?save" id="qatar">Qatar</a></li>
                           <li><a href="http://syria.dubizzle.com?save" id="syria">Syria</a></li>
                           <li><a href="http://tunisia.dubizzle.com?save" id="tunisia">Tunisia</a></li>
                        </ul>
                     </div>
                     <div class="seperator">
                        <p>/</p>
                     </div>
                     <div id="city-dropdown" class="city">
                        <p id="city-dropdown-trigger" class="city"><a onclick="return dbzglobal_event_adapter(this);" href="/change-location/"><span id="city-name-dropdown-trigger">Dubai</span></a></p>
                        <ul class="city">
                           <li id="4"><a href="http://uae.dubizzle.com?save">All Cities (UAE)</a></li>
                           <li id="city.site.id"><a href="http://abudhabi.dubizzle.com?save">Abu Dhabi</a></li>
                           <li id="city.site.id"><a href="http://ajman.dubizzle.com?save">Ajman</a></li>
                           <li id="city.site.id"><a href="http://alain.dubizzle.com?save">Al Ain</a></li>
                           <li id="city.site.id"><a href="http://fujairah.dubizzle.com?save">Fujairah</a></li>
                           <li id="city.site.id"><a href="http://rak.dubizzle.com?save">Ras al Khaimah</a></li>
                           <li id="city.site.id"><a href="http://sharjah.dubizzle.com?save">Sharjah</a></li>
                           <li id="city.site.id"><a href="http://uaq.dubizzle.com?save">Umm al Quwain</a></li>
                        </ul>
                     </div>
                  </div> -->
                  <div id="parent-user-control">
                     <ul id="user-controls">
                        {% if user_short_name %}
                        <li id="account-actions">        
                           <a class="" href="/accounts/profile/" id="account-links">
                           {{ user_short_name }}'s Account</a>
                        </li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                        {% else %}
                        <li><a onclick="return dbzglobal_event_adapter(this, 'sign-in-trigger');" href="/accounts/login/" id="sign-in-trigger">Sign In</a></li>
                        <li><a href="/accounts/register/">Register</a></li>
                        {% endif %}   
                     </ul>
                     <!-- end user-controls -->
                     <!-- for client side ajax rendering -->
                  </div>
                  <!-- <div id="callouts">
                     <ul>
                        <li id="place-an-ad"><a href="/place-an-ad/user/login/" id="place_an_ad_callout_en"><img alt="Place an Ad" src="http://m.dbzstatic.com/assets/images/header/place-an-ad.gif"></a></li>
                     </ul>
                  </div> -->
               </div>
               <!-- end header-links -->
               <div id="nav">
                  <ul class="nav-container">
                     <li id="nav-home"><a href="/">&nbsp;</a></li>
                     <li class="nav-container-main">
                        <ul class="navbar" id="navbar-id">
                           <li id="nav-motors" class="parent more">
                              <a title="" href="/motors/"><span class="more">Motors</span></a>
                              <ul class="navbar-inner " id="nav-categories-list-container">
                                 <li class="nav-inner-content">
                                    <ul class="nav-col-list">
                                       <li><a href="/motors/used-cars/">Used Cars for Sale</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="nav-corner-end"></li>
                  </ul>
               </div>
               <!-- end nav-->
            </div>
            <div class="page-peel-wrapper">
               <div class="page-peel-left"></div>
               <div class="page-peel-right"></div>
            </div>
            <div id="content-wrapper">
               <div id="index-content">
                  <div id="top-bar-branding">
                     <div id="top-bar-branding-logo">&nbsp;</div>
                     <div id="top-bar-branding-text">Dubizzle.com, the best place to <strong>Buy</strong> a house, <strong>Sell</strong> a car or <strong>Find</strong> a job in Dubai.</div>
                  </div>
                  <div id="block1">
                     <div id="quick-links" class="section">
                        <div class="section-header">Quick Links</div>
                        <ul>
                           <li><a href="/accounts/register/">Register</a></li>
                        </ul>
                     </div>
                     <div id="autos-infographic-thumbnail">
                        <a target="blank" href="/autos/infographics/2013/q2/">
                        <img src="http://m.dbzstatic.com/assets/images/autos_infographic/q2-2013-en-thumb.jpg">
                        </a>
                     </div>
                     <div id="property-infographic-thumbnail">
                        <a target="blank" href="/property/infographics/2013/q3/">
                        <img src="http://m.dbzstatic.com/assets/images/property-infographic/q3-2013-en-thumb.jpg">
                        </a>
                     </div>
                     <div id="testimonial" style="display:none;" class="section">
                        <span>Dubizzle took care of everything with an extreme rapidity and efficacy.</span>
                        <em>Amjad Khattab</em>
                        <div style="background-image:url(http://m.dbzstatic.com/assets/images/home/testimonials/1.gif)" class="photo"></div>
                     </div>
                  </div>
                  <!-- end block1 -->
                  <div id="content">
                     <!-- <div id="stuff_interested_in">
                        <div style="display: none" id="stuff-you-like-count">21</div>
                        <div id="stuff-you-like">
                           <p> Dubizzle's Recommendations for You.. </p>
                           <div id="styl-controls">
                              <div id="control-prev">&nbsp;</div>
                              <div id="control-status"><span class="selected" id="control1">&nbsp;</span><span id="control2">&nbsp;</span><span id="control3">&nbsp;</span></div>
                              <div id="control-next">&nbsp;</div>
                           </div>
                           <div id="styl-tooltip">
                              <div id="tooltip-position" style="display: none; margin-left: 112px;">
                                 <div id="tooltip-text">
                                    <h4>Viano (van) 2010</h4>
                                    <span class="breadcrumb"> Used Cars for Sale  ‪&gt;‪  Mercedes-Benz  ‪&gt;‪  Viano</span>
                                    <span class="price"> AED 90,000</span> 
                                 </div>
                              </div>
                           </div>
                           <div style="" id="fb-recommend-ph">
                              <a onclick="return dbzglobal_event_adapter(this,'fb-recommend');" href="#" id="fb-recommend"></a>
                           </div>
                           <div id="styl-wrapper">
                              <ul>
                                 <li id="item1">
                                    <a href="/motors/used-cars/mercedes-benz/viano/2014/4/3/%D9%81%D9%8A%D8%A7%D9%86%D9%88-%D9%81%D8%A7%D9%86-2010-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/e5f500d3549569a2414d2878189835948f841693/thumb.jpeg" id="image1">
                                    </a>
                                 </li>
                                 <li id="item2">
                                    <a href="/motors/used-cars/ford/pickup/2014/4/1/ford-ranger-wildtrack-turbo-diesel-full-op-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/1/ab388019ce89f69b63ea50fcf22f08d643fca16e/thumb.jpeg" id="image2">
                                    </a>
                                 </li>
                                 <li id="item3">
                                    <a href="/classified/gaming/gaming-systems/sony-playstation-3/2014/4/3/jailbroken-slim-playstation-3-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/28e4050e9ba44e5d5a1ca71d7cd7b31e5000597d/thumb.jpeg" id="image3">
                                    </a>
                                 </li>
                                 <li id="item4">
                                    <a href="/motors/used-cars/lexus/is-series/2014/4/2/lexus-is-300-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/2/444c5778b17c76aa8555e69e484c84d3fe329ecd/thumb.jpeg" id="image4">
                                    </a>
                                 </li>
                                 <li id="item5">
                                    <a href="/classified/gaming/video-games/microsoft-xbox-360/2014/4/3/xbox-360-games-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/9b38b38c2b756cfdb7b678bdcd98ccd04d94af3b/thumb.jpeg" id="image5">
                                    </a>
                                 </li>
                                 <li id="item6">
                                    <a href="/motors/used-cars/porsche/carrera/2014/4/3/porsche-993-turbo-fully-loaded-1997-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/8fd652818c5dcafd54c3c7af3048528f7565a9ac/thumb.jpeg" id="image6">
                                    </a>
                                 </li>
                                 <li style="margin-right:0px" id="item7">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2014/2/1/elegant-fully-serviced-furnished-deluxe-ho-2-4/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/2/1/0c16d2412bcaba530240ff9c4e2ea8be201be18e/thumb.jpeg" id="image7">
                                    </a>
                                 </li>
                              </ul>
                              <ul>
                                 <li id="item8">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2014/3/19/luxury-2-br-in-boulevard-down-town-335511-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/3/19/83efea9979142dff61dc62c4eabba9d2f8c94cc0/thumb.jpeg" id="image8">
                                    </a>
                                 </li>
                                 <li id="item9">
                                    <a href="/classified/gaming/gaming-systems/sony-playstation-3/2014/4/4/playstation-3-all-controllers-and-games-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/4/678069fc180d1a5a6556b278f0f398dbb32a44de/thumb.jpeg" id="image9">
                                    </a>
                                 </li>
                                 <li id="item10">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2014/4/4/amazing-full-panoramic-view-2broo-app-duba-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/4/5142cff8678bd5f2655b0e7057994760e01e5622/thumb.jpeg" id="image10">
                                    </a>
                                 </li>
                                 <li id="item11">
                                    <a href="/classified/gaming/gaming-systems/sony-playstation-3/2014/4/3/jailbroken-silver-ps3-in-excellent-conditi-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/c9fc89d6bc1bf7916dfbbd36a09b31ad69ea3920/thumb.jpeg" id="image11">
                                    </a>
                                 </li>
                                 <li id="item12">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2014/4/3/fully-furnished-studio-apt-with-fast-speed-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/6e6f2901257b65b99230a1a48d8ab6d4dac07276/thumb.jpeg" id="image12">
                                    </a>
                                 </li>
                                 <li id="item13">
                                    <a href="/classified/gaming/video-games/sony-playstation-3/2014/4/4/130-ps3-games-on-2tb-disk-dlc-and-arcade-g-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/4/0fa4ac99d6a25f8553b5b35477164bbb510a561c/thumb.jpeg" id="image13">
                                    </a>
                                 </li>
                                 <li style="margin-right:0px" id="item14">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2014/4/4/very-nice-fully-furnished-studio-with-full-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/4/7549edc7a31345b249ee86023d2258f2916e7a76/thumb.jpeg" id="image14">
                                    </a>
                                 </li>
                              </ul>
                              <ul>
                                 <li id="item15">
                                    <a href="/community/activities/2014/4/3/dhow-cruise-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/9a2c81296e8de34c39062c08d5b6f1938f43e18d/thumb.jpeg" id="image15">
                                    </a>
                                 </li>
                                 <li id="item16">
                                    <a href="/classified/gaming/gaming-accessories/pc/2014/4/3/game-accessories-stock-clearance-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/b44a3fbd488de2236ddf68766f426ff8b415b9be/thumb.jpeg" id="image16">
                                    </a>
                                 </li>
                                 <li id="item17">
                                    <a href="/classified/gaming/video-games/sony-playstation-3/2014/4/3/ps3-games-going-cheap-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/5c291bae8df0e8b76ec1390f0df136b536daf1dc/thumb.jpeg" id="image17">
                                    </a>
                                 </li>
                                 <li id="item18">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2014/3/18/super-deluxe-furnished-studio-in-dubai-wit-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/3/18/7382144575076dead22232696d13807b16cddef5/thumb.jpeg" id="image18">
                                    </a>
                                 </li>
                                 <li id="item19">
                                    <a href="/community/activities/2014/4/3/kids-chairs-tables-adults-balloon-decorati-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/18b8656f9fd2a13d088f989dbf6c14e3583a3187/thumb.jpeg" id="image19">
                                    </a>
                                 </li>
                                 <li id="item20">
                                    <a href="/property-for-rent/short-term-daily/apartmentflat/2013/12/22/2bd-self-catering-apartment-for-rent-on-a--2/">
                                    <img alt="" src="http://i.dbzstatic.com/images/user_images/2013/12/22/32942516_CP_micro_thumbnail.jpeg" id="image20">
                                    </a>
                                 </li>
                                 <li style="margin-right:0px" id="item21">
                                    <a href="/community/activities/2014/4/3/u-wanna-buy-a-15-split-ac-2/">
                                    <img alt="" src="http://87421a79fde09fda7e57-79445249ccb41a60f7b99c8ef6df8604.r12.cf3.rackcdn.com/4/2014/4/3/0ae18a8d212d0885723d5d3ab9ba05c251141850/thumb.jpeg" id="image21">
                                    </a>
                                 </li>
                              </ul>
                              <ul>
                              </ul>
                           </div>
                           <div style="display:none" id="styl-content">
                              <ul>
                                 <li id="item-content1">
                                    <h4>Viano (van) 2010</h4>
                                    <span class="breadcrumb"> Used Cars for Sale  ‪&gt;‪  Mercedes-Benz  ‪&gt;‪  Viano</span>
                                    <span class="price"> AED 90,000</span> 
                                 </li>
                                 <li id="item-content2">
                                    <h4>FORD RANGER,WILDTRACK,TU...</h4>
                                    <span class="breadcrumb"> Used Cars for Sale  ‪&gt;‪  Ford  ‪&gt;‪  Pickup</span>
                                    <span class="price"> AED 142,000</span> 
                                 </li>
                                 <li id="item-content3">
                                    <h4>Jailbroken Slim PlayStat...</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Gaming Systems  ‪&gt;‪  Sony PlayStation 3</span>
                                    <span class="price"> AED 1,100</span> 
                                 </li>
                                 <li id="item-content4">
                                    <h4>Lexus IS 300</h4>
                                    <span class="breadcrumb"> Used Cars for Sale  ‪&gt;‪  Lexus  ‪&gt;‪  IS-Series</span>
                                    <span class="price"> AED 75,000</span> 
                                 </li>
                                 <li id="item-content5">
                                    <h4>Xbox 360 Games</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Video Games  ‪&gt;‪  Microsoft Xbox 360</span>
                                    <span class="price"> AED 500</span> 
                                 </li>
                                 <li id="item-content6">
                                    <h4>PORSCHE 993 TURBO,FULLY ...</h4>
                                    <span class="breadcrumb"> Used Cars for Sale  ‪&gt;‪  Porsche  ‪&gt;‪  Carrera / 911</span>
                                    <span class="price"> AED 299,000</span> 
                                 </li>
                                 <li id="item-content7">
                                    <h4>Family Deluxe Hotel Apar...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 590</span> 
                                 </li>
                                 <li id="item-content8">
                                    <h4>Luxury 2 B/R in Boulevar...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 1,100</span> 
                                 </li>
                                 <li id="item-content9">
                                    <h4>Playstation 3 + all cont...</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Gaming Systems  ‪&gt;‪  Sony PlayStation 3</span>
                                    <span class="price"> AED 1,000</span> 
                                 </li>
                                 <li id="item-content10">
                                    <h4>Amazing Full Panoramic v...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 799</span> 
                                 </li>
                                 <li id="item-content11">
                                    <h4>Jailbroken SILVER PS3 in...</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Gaming Systems  ‪&gt;‪  Sony PlayStation 3</span>
                                    <span class="price"> AED 899</span> 
                                 </li>
                                 <li id="item-content12">
                                    <h4>FULLY FURNISHED STUDIO A...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 175</span> 
                                 </li>
                                 <li id="item-content13">
                                    <h4>130+ PS3 Games on 2TB Di...</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Video Games  ‪&gt;‪  Sony PlayStation 3</span>
                                    <span class="price"> AED 1</span> 
                                 </li>
                                 <li id="item-content14">
                                    <h4>Very Nice Fully Furnishe...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 299</span> 
                                 </li>
                                 <li id="item-content15">
                                    <h4>Dhow Cruise</h4>
                                    <span class="breadcrumb"> Activities</span>
                                 </li>
                                 <li id="item-content16">
                                    <h4>Game Accessories Stock C...</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Gaming Accessories  ‪&gt;‪  PC</span>
                                    <span class="price"> AED 35,000</span> 
                                 </li>
                                 <li id="item-content17">
                                    <h4>PS3 Games going cheap</h4>
                                    <span class="breadcrumb"> Gaming  ‪&gt;‪  Video Games  ‪&gt;‪  Sony PlayStation 3</span>
                                    <span class="price"> AED 50</span> 
                                 </li>
                                 <li id="item-content18">
                                    <h4>super Deluxe Furnished s...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 150</span> 
                                 </li>
                                 <li id="item-content19">
                                    <h4>kids chairs tables. adul...</h4>
                                    <span class="breadcrumb"> Activities</span>
                                 </li>
                                 <li id="item-content20">
                                    <h4>Book 3 nights in Standpo...</h4>
                                    <span class="breadcrumb"> Short Term (Daily)  ‪&gt;‪  Apartment/Flat for Rent</span>
                                    <span class="price"> AED 1,156</span> 
                                 </li>
                                 <li id="item-content21">
                                    <h4>U wanna buy a 1.5 split ...</h4>
                                    <span class="breadcrumb"> Activities</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div> -->
                     <!-- end stuff interested in -->
                     <div id="block2">
                        <div id="col2">
                           <div id="row20">
                              <div class="section-header">
                                 <span class="head-icons" id="head-motors"></span>
                                 <a href="/motors/">Motors ‪&gt;&gt;‪</a>
                              </div>
                              <ul>
                                 {% for ad_type in motor_ad_types %}
                                    <li><a href="{{ ad_type.2 }}">{{ ad_type.1 }}</a> <span> {{ ad_type.3 }} </span> </li>
                                 {% endfor %}
                              </ul>
                              <div class="motors-place-ad-link">
                                 <a href="/place-an-ad/taxonomy/motors/">+ Place an Ad</a>
                              </div>
                           </div>
                           <!-- <div id="row21">
                              <div class="section-header"><span class="head-icons" id="head-classifieds"></span><a href="/classified/">Classifieds ‪&gt;&gt;‪</a></div>
                              <ul>
                                 <li><a href="/classified/baby-items/">Baby Items</a> <span> 2790 </span></li>
                                 <li><a href="/classified/books/">Books</a> <span> 574 </span></li>
                                 <li><a href="/classified/business-industrial/">Business &amp; Industrial</a> <span> 3698 </span></li>
                                 <li><a href="/classified/cameras-imaging/">Cameras &amp; Imaging</a> <span> 1246 </span></li>
                                 <li><a href="/classified/clothing-accessories/">Clothing &amp; Accessories</a> <span> 4969 </span></li>
                                 <li><a href="/classified/collectibles/">Collectibles</a> <span> 965 </span></li>
                                 <li><a href="/classified/computers-networking/">Computers &amp; Networking</a> <span> 2797 </span></li>
                                 <li><a href="/classified/dvds-movies/">DVDs &amp; Movies</a> <span> 94 </span></li>
                                 <li><a href="/classified/electronics/">Electronics</a> <span> 2604 </span></li>
                                 <li><a href="/classified/free-stuff/">Free Stuff</a> <span> 47 </span></li>
                                 <li><a href="/classified/furniture-home-garden/">Furniture, Home &amp; Garden</a> <span> 12226 </span></li>
                                 <li><a href="/classified/gaming/">Gaming</a> <span> 1049 </span></li>
                                 <li><a href="/classified/home-appliances/">Home Appliances</a> <span> 2587 </span></li>
                                 <li><a href="/classified/jewelry-watches/">Jewelry &amp; Watches</a> <span> 1570 </span></li>
                                 <li><a href="/classified/lostfound/">Lost/Found</a> <span> 33 </span></li>
                                 <li><a href="/classified/misc/">Misc</a> <span> 940 </span></li>
                                 <li><a href="/classified/mobile-phones-pdas/">Mobile Phones &amp; PDAs</a> <span> 4246 </span></li>
                                 <li><a href="/classified/music/">Music</a> <span> 56 </span></li>
                                 <li><a href="/classified/musical-instruments/">Musical Instruments</a> <span> 561 </span></li>
                                 <li><a href="/classified/pets/">Pets</a> <span> 689 </span></li>
                                 <li><a href="/classified/sports-equipment/">Sports Equipment</a> <span> 1886 </span></li>
                                 <li><a href="/classified/stuff-wanted/">Stuff Wanted</a> <span> 297 </span></li>
                                 <li><a href="/classified/tickets-vouchers/">Tickets &amp; Vouchers</a> <span> 820 </span></li>
                                 <li><a href="/classified/toys/">Toys</a> <span> 885 </span></li>
                              </ul>
                              <div class="classified-place-ad-link-non-chrome">
                                 <a href="/place-an-ad/classified/classify-category/">
                                 + Place an Ad
                                 </a>
                              </div>
                           </div> -->
                        </div>
                     </div>
                     
                  </div>
                  <!-- end content-->  
               </div>
            </div>
            <div class="page-peel-wrapper page-peel-wrapper-bottom">
               <div class="page-peel-left"></div>
               <div class="page-peel-right"></div>
            </div>
         </div>
         <br class="clear">
         <div id="city-scape">&nbsp;</div>
         <div class="footer-wrapper-parent">
            <div id="footer-wrapper">
               <div id="footer">
                  <div class="footer-parent-block">
                     <div class="footer-blocks footer-languages">
                        <h3 class="footer-block-header">Languages</h3>
                        <ul class="box" id="footer-languages">
                           <li class="row">
                              <form class="lang-form" method="post" action="/i18n/setlang/"> <input type="hidden" value="en" name="language"> <input type="hidden" value="http://dubai.dubizzle.com/" name="next"> <input type="submit" value="English" class="footer-links footer-btn"></form>
                           </li>
                           <li class="row">
                              <form class="lang-form" method="post" action="/ar/"> <input type="image" src="http://m.dbzstatic.com/assets/images/footers/icons/arabic-language.png"></form>
                           </li>
                        </ul>
                     </div>
                     <div class="footer-blocks footer-support">
                        <h3 class="footer-block-header">Support</h3>
                        <ul class="box" id="footer-support">
                           <li class="row"><a href="/help/" class="footer-links">Help</a></li>
                           <li class="row"><a href="/how-to-home/" class="footer-links">How to</a></li>
                           <li class="row"><a href="/contact/" class="footer-links">Contact Us</a></li>
                        </ul>
                     </div>
                     <div class="footer-blocks footer-getsocial">
                        <h3 class="footer-block-header">Get Social</h3>
                        <ul class="box" id="footer-social">
                           <li class="row"><a href="http://www.facebook.com/dubizzle" target="_blank" class="footer-links">Facebook</a></li>
                           <li class="row"><a href="http://twitter.com/dubizzle" target="_blank" class="footer-links">Twitter</a></li>
                           <li class="row"><a href="http://www.youtube.com/user/Dubizzle" target="_blank" class="footer-links">Youtube</a></li>
                        </ul>
                     </div>
                     <div id="zoneuae_extras">
                        <div id="google_ads_div_uae_extras_ad_wrapper">
                           <div style="display:inline-block;" id="google_ads_div_uae_extras_ad_container">
                              <ins style="width: 234px; height: 60px; display: inline-table; position: relative; border: 0px none;"><ins style="width: 234px; height: 60px; display: block; position: relative; border: 0px none;"></ins></ins>
                           </div>
                        </div>
                     </div>
                     <div class="copyright footer-grid-row box" id="copyright">
                        <span class="copyright-msg">&copy; Dubizzle.com 2014, All Rights Reserved.</span>
                     </div>
                  </div>
                  <div class="footer-blocks footer-company">
                     <h3 class="footer-block-header">Company</h3>
                     <ul class="box" id="footer-company">
                        <li class="row"><a href="/about/" class="footer-links">About Us</a></li>
                        <li class="row"><a href="/advertising/" class="footer-links">Advertising</a></li>
                        <li class="row"><a href="/careers/" class="footer-links">Careers</a></li>
                        <li class="row"><a href="/terms/" class="footer-links">Terms of Use</a></li>
                        <li class="row"><a href="/privacy/" class="footer-links">Privacy Policy</a></li>
                     </ul>
                  </div>
                  <div class="footer-blocks footer-cities-block footer-cities-uae">
                     <h3 class="footer-block-header current-country-site-name">UAE</h3>
                     <ul class="box footer-uae-cities" id="footer-uae-cities">
                        <li class="footer-uae-cities-row row">
                           <ul class="footer-cities">
                              <li class="row"><a href="http://dubai.dubizzle.com" class="footer-links">Dubai</a></li>
                              <li class="row"><a href="http://abudhabi.dubizzle.com" class="footer-links">Abu Dhabi</a></li>
                              <li class="row"><a href="http://rak.dubizzle.com" class="footer-links">Ras al Khaimah</a></li>
                              <li class="row"><a href="http://sharjah.dubizzle.com" class="footer-links">Sharjah</a></li>
                           </ul>
                           <ul class="footer-cities">
                              <li class="row"><a href="http://fujairah.dubizzle.com" class="footer-links">Fujairah</a></li>
                              <li class="row"><a href="http://ajman.dubizzle.com" class="footer-links">Ajman</a></li>
                              <li class="row"><a href="http://uaq.dubizzle.com" class="footer-links">Umm al Quwain</a></li>
                              <li class="row"><a href="http://alain.dubizzle.com" class="footer-links">Al Ain</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
                  <div class="footer-blocks footer-countries">
                     <h3 class="footer-block-header">Other Countries</h3>
                     <ul class="box footer-countries-list" id="footer-countries-list">
                        <li class="footer-countries-list-row row">
                           <ul class="footer-countries-list-row-ul">
                              <li class="row"><a href="http://egypt.dubizzle.com" class="footer-links">Egypt</a></li>
                              <li class="row"><a href="http://ksa.dubizzle.com" class="footer-links">KSA</a></li>
                              <li class="row"><a href="http://kuwait.dubizzle.com" class="footer-links">Kuwait</a></li>
                              <li class="row"><a href="http://qatar.dubizzle.com" class="footer-links">Qatar</a></li>
                              <li class="row"><a href="http://bahrain.dubizzle.com" class="footer-links">Bahrain</a></li>
                           </ul>
                           <ul class="footer-countries-list-row-ul">
                              <li class="row"><a href="http://oman.dubizzle.com" class="footer-links">Oman</a></li>
                              <li class="row"><a href="http://jordan.dubizzle.com" class="footer-links">Jordan</a></li>
                              <li class="row"><a href="http://lebanon.dubizzle.com" class="footer-links">Lebanon</a></li>
                              <li class="row"><a href="http://algeria.dubizzle.com" class="footer-links">Algeria</a></li>
                              <li class="row"><a href="http://tunisia.dubizzle.com" class="footer-links">Tunisia</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <noscript>
         &lt;img width="1" height="1" alt="" src="http://logc270.xiti.com/hit.xiti?s=509193&amp;p=&amp;stc=%7B%22city%22%3A%22dubai%22%2C%22page_name%22%3A%22home%22%2C%22funnel_page%22%3A%22home%22%2C%22error%22%3A%220%22%7D&amp;ref=&amp;na=8888824027" /&gt;
      </noscript>
      <!--[if IE 6]>
      <div id="browser" class="ie6">&nbsp;</div>
      <![endif]-->
      <!--[if IE 7]>
      <div id="browser" class="ie7">&nbsp;</div>
      <![endif]-->
      <!--[if IE 8]>
      <div id="browser" class="ie8">&nbsp;</div>
      <![endif]-->
      <!--[if IE 9]>
      <div id="browser" class="ie9">&nbsp;</div>
      <![endif]-->
      <div id="fancybox-tmp"></div>
      <div id="fancybox-loading">
         <div></div>
      </div>
      <div id="fancybox-overlay"></div>
      <div id="fancybox-wrap">
         <div id="fancybox-outer">
            <div id="fancy-bg-n" class="fancy-bg"></div>
            <div id="fancy-bg-ne" class="fancy-bg"></div>
            <div id="fancy-bg-e" class="fancy-bg"></div>
            <div id="fancy-bg-se" class="fancy-bg"></div>
            <div id="fancy-bg-s" class="fancy-bg"></div>
            <div id="fancy-bg-sw" class="fancy-bg"></div>
            <div id="fancy-bg-w" class="fancy-bg"></div>
            <div id="fancy-bg-nw" class="fancy-bg"></div>
            <div id="fancybox-inner"></div>
            <a id="fancybox-close"></a><a id="fancybox-left" href="javascript:;"><span id="fancybox-left-ico" class="fancy-ico"></span></a><a id="fancybox-right" href="javascript:;"><span id="fancybox-right-ico" class="fancy-ico"></span></a>
         </div>
      </div>
   </body>
</html>